<body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Book accommodation</h2>
  <form action="">
    <label for="calendar">Please choose the date you would like to stay:</label>
    <input type="date" id="calendar" name="calendar" required>
    <label for="max_price">Please enter your max price:</label>
    <input type="number" id="max_price" name="max_price">
    <input type="submit" value="Search">
  </form>

 <form action="/manage-accommodation">
    <input type="submit" value="Manage my accommodation">
  </form>

</body>

