<body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Book accommodation</h2>
  <form action="">
    <label for="calendar">Please choose the date you would like to stay:</label>
    <input type="date" id="calendar" name="calendar" required>
    <label for="max_price">Max price:</label>
    <input type="range" min="1" max="100" value="50" id="max_price" name="max_price">
    <label for="max_price">£<span id="max_value"></span></label>
    <input type="submit" value="Search">
  </form> 


  <script>
    var slider = document.getElementById("max_price");
    var output = document.getElementById("max_value");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }
  </script>
</body>

