<body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Book accommodation</h2>
  <form action="">
    <label for="calendar">Please choose the date you would like to stay:</label>
    <input type="date" id="calendar" name="calendar">
    <input type="submit" value="Search">
  </form> 
</body>