<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/landing.css">
</head>

<body>
    <div>
        <h1 style="margin-bottom: 0;">MakersBNB</h1>
        <h2 style="font-size: 15px; margin-top: 0;">It's better than sleeping on the street!</h2>
    </div>
    
    <div class="login-register" id="login-register">
        <button id="manage-button" type="button">Manage accommodation</button>
        <button id="book-button" type="button">Book accommodation</button>
    </div>
    <div class="image-container">
        <img id="maldives" alt="A beach in the maldives" class="main-photo"src="/assets/images/maldives.jpeg">
    </div>
</body>

