<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/landing.css">
</head>

<body>
    <h1>MakersBNB</h1>
    
    <div class="login-register" id="login-register">
        <button class="register_button"type="button">Register</button>
        <button type="login_button">Log in</button>
    </div>
    <div class="image-container">
        <img id="maldives" alt="A beach in the maldives" class="main-photo"src="/assets/images/maldives.jpeg">
    </div>
</body>

