<body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Log in</h2>
  <form method="POST" action="/login">
    <label for="fname">First name</label><br>
    <input type="text" id="first-name" name="first_name" value="" required><br>
    <label for="lname">Last name</label><br>
    <input type="text" id="last-name" name="last_name" value="" required><br>
    <input type="submit" value="Log in">
  </form> 

  <form method="GET" action="/register">
    <p>Don't have an account?</p>
    <input type="submit" value="Register for an account">
  </form> 
</body>