
<body>
    <h1>MakersBNB</h1>


    <% if !@accommodation_list %>
        <h2>You have no accommodations listed</h2><br>
    <% else %>
        <% @accommodation_list.each do |accom|%>
        <h3> <%= accom.name%> </h3>
        <p> <%= accom.description%> </p>
        <p><i>£<%= accom.price_per_night %> per night</i></p>
        <%end%>

    <% end %>

    <form action="/add-accommodation">
        <input type="submit" value="Add accommodation" />
    </form><br>

    <h2>Booking requests</h2>

    <h4>You have no booking requests</h4>
    <%# <form>
        <h5>Accommodation name</h5>
        <p>Brief description</p>
        <p>£80 per night</p>
        <input type="submit" value="Confirm" />
        <input type="submit" value="Deny" />
    </form> %>

    <h2>Confirmed bookings</h2>

    <h4>You have no confirmed bookings</h4>
    <%# <h5>Accommodation name</h5>
    <p>Brief description</p>
    <p>£80 per night</p> %>
</body>