
<body>
    <h1>MakersBNB</h1>

    <!-- <% if !@accommodation %>
    <h2>You have no accommodations listed</h2><br>
    <% else %>
    <h3> <% @accommodation.name%> </h3>
    <% end %> -->

    <h2>You have no accommodations listed</h2><br>

    <form action="/add-accommodation">
        <input type="submit" value="Add accommodation" />
    </form><br>

    <h2>Booking requests</h2>

    <h4>You have no booking requests</h4>
    <%# <form>
        <h5>Accommodation name</h5>
        <p>Brief description</p>
        <p>£80 per night</p>
        <input type="submit" value="Confirm" />
        <input type="submit" value="Deny" />
    </form> %>

    <h2>Confirmed bookings</h2>

    <h4>You have no confirmed bookings</h4>
    <%# <h5>Accommodation name</h5>
    <p>Brief description</p>
    <p>£80 per night</p> %>
</body>