
<body>
    <h1>MakersBNB</h1>

    <!-- <% if !@accommodation %>
    <h2>You have no accommodations listed</h2><br>
    <% else %>
    <h3> <% @accommodation.name%> </h3>
    <% end %> -->

    <h2>You have no accommodations listed</h2><br>

    <form action="/add-accommodation">
        <input type="submit" value="Add accommodation" />
    </form>
</body>