<body>
  <h1 id="bnb-title">MakersBNB</h1>
  <h2 id="form-subheading">Registration form</h2>
  <form action="/register" method = "POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="first-name" name="first_name" value=""><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="last-name" name="last_name" value=""><br><br>
    <input type="submit" value="Register">
  </form> 
</body>