<body>
<h1>MakersBNB</h1>

    <% if !@request_list %>
        <h2>You have no bookings listed</h2><br>
    <% else %>
        <% @request_list.each do |request|%>


        <p><i>£<%= request.total_cost %> per night</i></p>
        <%end%>

    <% end %>




<h3>Confirmed bookings</h3>

    <h5>booking name</h5>
    <p>Brief description</p>
    <p>£80 per night</p>


<h3>Bookings requested</h3>

    <h5>booking name</h5>
    <p>Brief description</p>
    <p>£80 per night</p>


</body>